<ion-view>
	<ion-nav-title>
      <img src="images/icon_navbar_leather_5.png" height="50px" style="margin-top: 5px;">
    </ion-nav-title>
  <ion-pane>
    <ion-content overflow-scroll="true">
    <div style="height: 30px"></div>
    
    <div class="list">
		
		<div class="item item-divider item-divider-contacts">
	  	Indirizzo
	  	</div>
		
		<div class="row row-contacts" >
		    <div class="col col-80">
		    	<p class="contatcs-par">
			    	Corso Dante Alighieri, 52/A<br>
			    	Grumo Nevano 80020 - Napoli <br>
			    	Italia
			    </p>
		    </div>
		    <div class="col col-20">
		    	<a href="maps://maps.apple.com/?address=Corso+Dante+Alighieri+52,Grumo+Nevano,Napoli,Italy" target="_blank">
					<img class="contacts-social-image" src="images/contacts/map.png"></img>
				</a>
				<p class="contatcs-icon-text">Vai alla mappa</p>
		</div>
		</div>
		
		<div class="item item-divider item-divider-contacts">
	  	Contattaci
	  	</div>
		
		<div class="row row-contacts" style="padding-bottom: 0px;">
		    <div class="col col-80">
		    	<p class="contatcs-par" style="color:#000000;">
			    	Tel: <a href="tel:+390815052142" style="text-decoration:none;border:none;color:#000000;">+39 081 5052142</a><br>
					Fax: <a href="" style="text-decoration:none;border:none;color:#000000;">+39 081 8304746</a>
				</p>
		    </div>
		    <div class="col col-20">
		    	<a href="tel:+390815052142" target="_blank">
					<img class="contacts-social-image" src="images/contacts/phone.png"></img>
				</a>
				<p class="contatcs-icon-text">Chiama</p>
		    </div>
		</div>
		<div class="row row-contacts">
		    <div class="col col-80">
		    	<p class="contatcs-par">
		    		Mail: info@marineleather.it
		    	</p>
		    </div>
		    <div class="col col-20">
		    	<a href="mailto:info@marineleather.it" target="_blank">
					<img class="contacts-social-image" src="images/contacts/mail.png"></img>
				</a>
				<p class="contatcs-icon-text">Invia e-mail</p>
		    </div>
		</div>
		
		<div class="item item-divider item-divider-contacts">
	  	Social
	  	</div>
		
		<div class="row row-contacts">
			  <a class="col col-contacts" href="fb://profile/321624344539578">
			  	<img class="contacts-social-image" src="images/contacts/facebook.png" ></img>
			  </a>
			  <a class="col col-contacts" href="twitter://user?screen_name=marineleather">
			  	<img class="contacts-social-image" src="images/contacts/twitter.png" ></img>
			  </a>
			  <a class="col col-contacts" href="instagram://user?username=marineleather">
			  	<img class="contacts-social-image" src="images/contacts/instagram.png" ></img>
			  </a>
			  <a class="col col-contacts" href="linkedin://#company/2515627">
			  	<img class="contacts-social-image" src="images/contacts/linkedin.png" ></img>
			  </a>
			  <a class="col col-contacts" href="flickr://photos/marineleather">
			  	<img class="contacts-social-image" src="images/contacts/flickr.png" ></img>
			  </a>
		</div>
		
		
	</div>
     
    </ion-content>
  </ion-pane>
</ion-view>